/* Card style */

$card-radius: 15px;

.card {
  border-radius: $card-radius;
  margin-bottom: 1em;
  background-color: white;
  height: 250px;
  display: grid;
  position: relative;

  &__a {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__div {
      position: relative;

      &--img {
        height: 170px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        border-top-left-radius: $card-radius;
        border-top-right-radius: $card-radius;
      }

      &--p {
        position: absolute;
        top: 1em;
        right: 1em;
        padding: 0.75em;
        font-weight: bold;
        border-radius: 2px;
        font-size: 14px;
        background-color: #99e2d0;
        color: #008766;
      }
    }
  }

  &__div {
    display: grid;
    grid-template-columns: repeat(1, 1fr 0.1fr);
    justify-content: space-evenly;
    padding: 1em;

    &__info {
      display: flex;
      flex-direction: column;
      height: 100%;
      line-height: 1.5em;

      &--h3 {
        font-size: 18px;
        font-weight: 700;
      }

      &--p {
        font-size: 17px;
      }
    }

    &__button {
      background-color: transparent;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      line-height: 1;

      .heart-checkbox {
        display: none;
      }

      &--fa-regular {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }

      &--fa-solid {
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease-in-out;
        background-size: 100%;
        line-height: 1;
        color: transparent;
        background-image: var(--linear-gradient);
        background-clip: text;
        -webkit-background-clip: text;
      }

      .heart-checkbox:checked ~ &--fa-regular {
        opacity: 0;
      }

      .heart-checkbox:checked ~ &--fa-solid {
        opacity: 1;
      }
    }
  }
}
