/* Footer */

.footer {
  background-color: #353535;
  color: white;

  &--h2 {
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    padding: 1em 1em 0.5em 1em;
  }

  &__ul {
    padding: 1em;
  }

  &__ul,
  &__ul__li {
    display: grid;
    line-height: 2em;

    &__a {
      display: flex;
      align-items: center;

      &--i {
        margin-right: 0.5em;
      }
    }
  }
}
