/* Icon style */

.icon-color {
  color: #7e7e7e;
  margin-right: 2em;
}

.icon-color-primary {
  color: var(--primary-color);
  margin-right: 2em;
}

.fa-heart:focus {
  background-image: var(--linear-gradient);
}

// Utilisation de !important pour ignorer les styles par défaut appliquer par FA Awesome

.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
  display: flex !important;
  line-height: 1em !important;
}
