/* Icon style */

.icon-color {
  color: #7e7e7e;
  margin-right: 2em;
}

.icon-color-primary {
  color: var(--primary-color);
  margin-right: 2em;
}

.fa-heart:focus {
  background-image: var(--linear-gradient);
  line-height: 1;
}

.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp,
.fa-solid,
.fab,
.far,
.fas {
  display: flex;
}

.fa-xl {
  line-height: 1;
}
