$layout-display: flex;
$layout-text-align: center;
$layout-align-items: center;
$layout-width: 100%;

// Responsive

$desktop-large: 1440px;
$desktop: 1024px;
$mobile: 768px;

/* GENERAL */
.container {
  @media (max-width: $desktop-large) {
    padding: 0 1em;
    margin: 0 auto;
    max-width: 1440px;
  }
}

.container-1440 {
  max-width: 1440px;

  @media (min-width: $desktop) {
    margin: 0 auto;
    width: 100%;
  }
}

/* Section style */

.title {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  margin: 2em auto 1em auto;
  display: $layout-display;
  align-items: flex-end;
  max-width: 1100px;
}

.section__style {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/* Header */

.header-style {
  font-size: 30px;
  text-align: $layout-text-align;
  padding: 0.5em;
  box-shadow: 0px 2px 4px 0px #00000026;
  position: relative;
  z-index: 1;
  background-color: white;

  @media (min-width: $desktop-large) {
    padding: 1em;
  }
}

header > div {
  display: $layout-display;
  justify-content: center;
  gap: 17px;
  padding: 1em;
  background-color: #eaeaea;
}

header > div > h2 {
  font-size: 16px;
  font-weight: bold;
}

.header-layout {
  display: $layout-display;
  align-items: $layout-align-items;
}

/* Index.html Section Information */

.information {
  display: block;
  text-align: $layout-text-align;
  margin-bottom: 3em;
  padding: 1em;

  @media (min-width: $desktop-large) {
    margin-bottom: 1em;
  }

  &--h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 1.5em 1em 0.5em 1em;

    @media (min-width: $desktop-large) {
      font-size: 40px;
      padding: 10px 1em 1em 1em;
    }
  }

  &--p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 2em;
  }
}

/* Index.html - Section Fonctionnement */

.fonctionnement {
  background-color: white;
  padding-bottom: 3em;

  &__div {
    @media (min-width: $desktop) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 25px;
      max-width: 1100px;
    }

    &__article {
      margin: 0 0 1.5em 1em;
      position: relative;

      &--number-fonctionnement {
        position: absolute;
        display: $layout-display;
        align-items: $layout-align-items;
        justify-content: center;
        bottom: 15px;
        left: -15px;
        color: white;
        background-color: var(--primary-color);
        padding: 0.25em;
        border-radius: 100%;
        width: 24px;
        height: 24px;
      }
    }
  }
}

/* Restaurants */

.restaurant {
  padding-bottom: 3em;
}

.restaurants-layout {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 1100px;
  }
}
