/* Button Style */
.btn-pink {
  padding: 1em 1.5em;
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: background-image, box-shadow 500ms;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}
.btn-pink:hover {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%);
}

.btn-grey {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding: 1.5em 0;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  background-color: #f6f6f6;
}

/* Card style */
.card {
  border-radius: 15px;
  margin-bottom: 1em;
  background-color: white;
  height: 250px;
  display: grid;
  position: relative;
}
.card__a {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card__a__div {
  position: relative;
}
.card__a__div--img {
  height: 170px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card__a__div--p {
  position: absolute;
  top: 1em;
  right: 1em;
  padding: 0.75em;
  font-weight: bold;
  border-radius: 2px;
  font-size: 14px;
  background-color: #99e2d0;
  color: #008766;
}
.card__div {
  display: grid;
  grid-template-columns: repeat(1, 1fr 0.1fr);
  justify-content: space-evenly;
  padding: 1em;
}
.card__div__info {
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.5em;
}
.card__div__info--h3 {
  font-size: 18px;
  font-weight: 700;
}
.card__div__info--p {
  font-size: 17px;
}
.card__div__button {
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  line-height: 1;
}
.card__div__button .heart-checkbox {
  display: none;
}
.card__div__button--fa-regular {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.card__div__button--fa-solid {
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease-in-out;
  background-size: 100%;
  line-height: 1;
  color: transparent;
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
}
.heart-checkbox:checked ~ .card__div__button--fa-regular {
  opacity: 0;
}
.heart-checkbox:checked ~ .card__div__button--fa-solid {
  opacity: 1;
}

/* Footer */
.footer {
  background-color: #353535;
  color: white;
}
@media (min-width: 1440px) {
  .footer__div {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 2em 0 0.25em 0;
  }
}
.footer__div--h2 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  padding: 1em 1em 0.5em 1em;
}
@media (min-width: 1440px) {
  .footer__div--h2 {
    padding: 1em;
    margin-left: 3em;
    order: 2;
  }
}
.footer__div__ul {
  padding: 1em;
}
.footer__div__ul, .footer__div__ul__li {
  display: grid;
  line-height: 2em;
}
@media (min-width: 1440px) {
  .footer__div__ul:nth-child(3), .footer__div__ul__li:nth-child(3) {
    margin-left: 3em;
  }
}
@media (min-width: 1440px) {
  .footer__div__ul, .footer__div__ul__li {
    display: flex;
    align-items: center;
    gap: 20px;
    order: 1;
  }
}
.footer__div__ul__a, .footer__div__ul__li__a {
  display: flex;
  align-items: center;
}
.footer__div__ul__a--i, .footer__div__ul__li__a--i {
  margin-right: 0.5em;
}

/* Icon style */
.icon-color {
  color: #7e7e7e;
  margin-right: 2em;
}

.icon-color-primary {
  color: var(--primary-color);
  margin-right: 2em;
}

.fa-heart:focus {
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
}

/* GENERAL */
@media (max-width: 1440px) {
  .container {
    padding: 0 1em;
    margin: 0 auto;
    max-width: 1440px;
  }
}

.container-1440 {
  max-width: 1440px;
}
@media (min-width: 1024px) {
  .container-1440 {
    margin: 0 auto;
    width: 100%;
  }
}

/* Section style */
.title {
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  margin: 2em auto;
  display: flex;
  align-items: flex-end;
  max-width: 1300px;
}

.section__style {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

/* Header */
.header-style {
  font-size: 30px;
  text-align: center;
  padding: 0.5em;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 1;
  background-color: white;
}
@media (min-width: 1440px) {
  .header-style {
    padding: 1em;
  }
}

header > div {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #eaeaea;
}

header > div > h2 {
  font-size: 16px;
  font-weight: bold;
}

.header-layout {
  display: flex;
  align-items: center;
}

/* Index.html Section Information */
.information {
  display: block;
  text-align: center;
  margin-bottom: 3em;
  padding: 1em;
}
.information--h2 {
  font-size: 24px;
  font-weight: 700;
  padding: 1.5em 2em 0.5em 2em;
}
.information--p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 2em;
}

/* Index.html - Section Fonctionnement */
.fonctionnement {
  background-color: white;
  padding-bottom: 1.5em;
}
@media (min-width: 1024px) {
  .fonctionnement__div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    max-width: 1300px;
  }
}
.fonctionnement__div__article {
  margin: 0 0 1.5em 1em;
  position: relative;
}
.fonctionnement__div__article--number-fonctionnement {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 15px;
  left: -15px;
  color: white;
  background-color: var(--primary-color);
  padding: 0.25em;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

/* Restaurants */
.restaurant {
  padding-bottom: 3em;
}

@media (min-width: 1024px) {
  .restaurants-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    max-width: 1300px;
  }
}

@media (min-width: 1024px) {
  .menu-bg-color {
    background-color: white;
  }
}

/* Menu Restaurants */
.header {
  background-color: white;
  z-index: 1;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  font-size: 30px;
  padding: 0.5em;
}
.header--h1 {
  text-align: center;
  position: relative;
}
.header__div {
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #eaeaea;
}
.header__div--h2 {
  font-size: 16px;
  font-weight: bold;
}

.background__image--position {
  width: 100%;
  z-index: -1;
  max-height: 275px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .background__image--position {
    max-height: 380px;
  }
}

.menu {
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
  top: -50px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
@media (min-width: 1024px) {
  .menu {
    max-width: 1050px;
    margin: 0 auto;
    top: -20px;
  }
}
@media (min-width: 1024px) {
  .menu::after {
    content: "";
    position: relative;
    top: 20px;
    display: block;
    height: 50px;
    background-color: #f6f6f6;
  }
}
.menu__title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0 3em 0;
}
.menu__title--h2 {
  font-size: 28px;
  font-family: "Shrikhand", cursive;
  font-style: italic;
}
.menu__card {
  width: 90vw;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .menu__card {
    max-width: 700px;
    margin: 0 auto;
  }
}
.menu__card--h3 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.25em;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  margin-bottom: 1em;
}
.menu__card__plats {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 1em;
}
.menu__card__plats__button {
  position: relative;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  padding: 2em;
  background-color: transparent;
  text-align: left;
  padding-right: 0;
}
.menu__card__plats__button--h4 {
  font-size: 18px;
  line-height: 21.09px;
  font-weight: bold;
  grid-column: 1/span 2;
}
.menu__card__plats__button--p {
  font-weight: 300;
  grid-column: 1/span 1;
  white-space: nowrap;
  font-size: 15.04px;
}
.menu__card__plats__button--p:nth-of-type(2) {
  background-color: rgba(255, 255, 255, 0.904);
  height: 120%;
  width: 40px;
  position: absolute;
  grid-column: 2/span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  right: -40px;
  transition: transform 0.5s ease-in-out;
}
.menu__card__plats--input {
  display: none;
}
.menu__card__plats--input:checked ~ .menu__card__plats__container .fa-solid.fa-circle-check {
  right: 0;
}
.menu__card__plats--input:checked ~ .menu__card__plats__button .menu__card__plats__button--p:nth-of-type(2) {
  right: -40px;
  transform: translateX(-40px);
}
.menu__card__plats__container {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
}
.menu__card__plats__container .fa-solid.fa-circle-check {
  position: absolute;
  right: -50px;
  transition: right 0.5s ease-in-out;
}
.menu__card__plats__container--icons {
  background-color: #99e2d0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}

.button__commander {
  margin: 1em auto 0 auto;
  padding: 1.25em 3em;
}

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  outline: none;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

.logo-font {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 0 auto;
}

/* GENERAL */
:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
}

/*# sourceMappingURL=style.css.map */
